* {
    margin: 0;
    padding: 0;
}
$primary: #AF0171;
$secondary: #FFC54D;
$text: #FFFAE7;
$text2: #CFD2CF;

// header
header {
    background-color: $primary;
    color: $text;
    padding: 1.5rem;
    h1 {
        font-size: 3rem;
        text-align: center;
        letter-spacing: 5px;
        font-weight: bolder;
    }
}
// main 
main {
    background-color: $secondary;
    color: $text;
    font-weight: bolder;
    .container {
        max-width: 70%;
        margin: 0 auto;
        padding-top: 2rem;
        .start {
            text-align: center;
            #start {
                padding: 0.5rem 2rem;
                background-color: $secondary;
                color: $primary;
                border: 3px solid $primary;
                border-radius: 7px;
                font-weight: bolder;
                font-size: 1rem;
                transition: all 0.3s;
                margin-bottom: 2rem;
            }
            #start:hover {
                background-color: $primary;
                color: $secondary;
                cursor: pointer;
                scale: 1.1;
            }
            .status {
                font-size: 1.5rem;
                font-weight: bold;
            }
        }
        .game {
            height: 75vh;
            .board {
                width: 400px;
                height: 310px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 2rem auto;
                #square {
                    width: 100px;
                    height: 100px;
                    border: 2px solid $text;
                    transition: all 0.5s;
                }
                #square:hover {
                    background-color: #AF0171;
                    cursor: pointer;
                }
            }
        }
     
    }
}
